<div class="flex items-center w-full bg-white shadow-lg rounded-xl p-[24px]">
  <div><%= image_tag "admin_user/avatar.png", style: "width: 200px; height: 200px;"%></div>
  <div>1</div>
  <div>1</div>
</div>
<div style="margin-top: 10px" class="flex flex-col w-full bg-white shadow-lg rounded-xl p-[24px]">
  <div>1</div>
  <div>1</div>
  <div>1</div>
</div>
<div style="margin-top: 10px" class="flex flex-col w-full bg-white shadow-lg rounded-xl p-[24px]">
  <div>1</div>
  <div>1</div>
  <div>1</div>
</div>