<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="flex justify-center min-h-screen items-center bg-[#f8f8fb]">
    <div class="bg-white rounded-[32px] shadow-lg" style="padding-left: 60px; padding-right: 60px; padding-top: 20px; padding-bottom: 20px; width: 500px">
      <div class="flex justify-center text-[32px] font-bold tertiary-font">Admin User</div>
      <div class="form-group floating-label-control mb-[23px]">
        <%= f.text_field  :email,
                          placeholder: "Email Address",
                          class: 'form-control w-full',
                          required: true
        %>
        <span class="floating-label">Email Address</span>
      </div>
      <div class="form-group floating-label-control mb-4">
        <%= f.password_field :password,
                              placeholder: "Password",
                              class: 'form-control w-full',
                              required: true
        %>
        <span class="floating-label">Password</span>
      </div>
      <div class="flex justify-center">
        <button type="submit">
          <span>Login</span>
        </button>
      </div>
    </div>
  </div>
<% end %>
