<tr>
  <td><%= user.id %></td>
  <td><%= user.email %></td>
  <td><%= user.current_sign_in_at&.strftime('%B %d, %Y (%I:%M %p)') %></td>
  <td><%= user.last_sign_in_at&.strftime('%B %d, %Y (%I:%M %p)') %></td>
</tr>
