<table class="table table-striped w-full bg-white shadow-lg rounded-xl">
  <thead class="text-left" style="border-bottom: 2px solid rgb(156 163 175)">
    <tr>
      <th>No.</th>
      <th>Email</th>
      <th>Current Sign-in At</th>
      <th>Last Sign-in At</th>
      <th>Created At</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <%= render user %>
    <% end %>
  </tbody>
</table>
