<!DOCTYPE html>
<html>
  <head>
    <%= render partial: 'layouts/header' %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="font-sans text-gray-900">
    <div class="flex h-screen">
      <%= render 'shared/admin_left_side_bar' %>
      <div class="flex-1 bg-gray-100 p-6 overflow-auto">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
