<!DOCTYPE html>
<html>
  <head>
    <%= render partial: 'layouts/header' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container">
      <%= yield %>
    </main>
  </body>
</html>
